<footer class="footer">
  <div class="footer-container">
    <div class="footer-col">
      <!-- <h3>Bootstrapdash</h3> -->
      <!-- <p>Free Bootstrap admin template</p> -->
    </div>
    <div class="footer-col">
      <a href="#">About Us</a>
      <a href="#">Products</a>
      <a href="#">Services</a>
    </div>
    <div class="footer-col">
      <a href="#">Contact</a>
      <a href="#">Template</a>
    </div>
    <div class="footer-col social-links">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
  
</footer>

