<div class="dashboard">
  <div class="section">
    <h2>Inventory Overview</h2>
    <div class="overview">
      <table>
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Manufacture Date</th>
            <th>Expiry Date</th>
            <th>Price</th>
            <th>Previous Sales</th>
            <th>Quantity</th>
            <th>Status</th> <!-- New column for status -->
            <th>Status Indicator</th> <!-- New column for status indicator -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of InventoryItem" [ngClass]="{ 'expired': isExpired(product), 'about-to-expire': isAboutToExpire(product), 'long-shelf-life': isLongShelfLife(product) }">
            <td>{{ product.productName }}</td>
            <td>{{ product.manufactureDate | date }}</td>
            <td>{{ product.expiryDate | date }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.previousSales }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ getStatus(product) }}</td> <!-- Display status text -->
            <td>
              <div [ngClass]="{ 'status-indicator': true, 'expired': isExpired(product), 'about-to-expire': isAboutToExpire(product), 'long-shelf-life': isLongShelfLife(product) }"></div>
            </td> <!-- Display status indicator -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
