body {
  background-color: rgba(185, 185, 234, 0.941); /* Set background color to blue */
}

.main-component {
  max-height: calc(100vh - 180px); /* Adjust the height based on your footer's height and desired padding */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds height */
  padding-bottom: 150px; /* Adjust padding to prevent content from being hidden behind footer */
  max-width: 1000px; /* Limit the maximum width */
  margin: 0 auto; /* Center the container horizontally */
}

.container {
  max-width: 1000px;
  margin: 60px auto; /* Adjust top margin to provide space for the navbar */
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-4 {
  flex: 0 0 calc(33.33% - 20px); /* Adjust width of columns to fit three in a row */
  margin-bottom: 20px;
}

.card {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  background: linear-gradient(45deg, #ff7e5f, #feb47b);
  color: #fff; /* Set text color to white */
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.5rem;
  font-weight: bold;
}

.increase,
.decrease {
  font-size: 0.8rem;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

.increase {
  background-color: #28a745; /* Green for increase */
}

.decrease {
  background-color: #dc3545; /* Red for decrease */
}

.section {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.overview {
  display: flex;
  justify-content: space-between;
}

.risk-assessment,
.insights,
.alerts {
  margin-top: 20px;
}

.alert {
  background-color: rgba(235, 243, 8, 0.854); /* Yellow background for alerts */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  animation: moveText 5s linear infinite; /* Adjust animation duration and timing function as needed */
}

.alert p {
  margin: 0;
  font-size: 1rem;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
